@import url(https://fonts.googleapis.com/css?family=Quicksand);
.navBar li{
	padding: .5% .5% .5% 5%
}

.navBar li,
h1 {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	color: #09f;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	display: block;
	color: white;
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}

.title {
	font-size: 3em;
}

.social {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #333;
  color: #09f;
  border: 1px solid rgb(38, 79, 107);
  margin-top: 10px;
}

.social:hover,
.social:focus {
  box-shadow: 4px 2px 2px rgb(38, 79, 107);
  color: rgb(38, 79, 107);
  background-color: rgb(209, 207, 212);
}